<h2>Fill in our form</h2>

<form action="/" method="post">
  <legend>Contact Information HERE</legend>
  <label for="name">Your name</label>
  <input type="text" id="name" name="name">
  <br>
  <label for="email">Address</label>
  <input type="text" id="email" name="email" type="email">
  <br>
  <label for="department">Department</label>
  <input type="radio" name="department" value="sales"> Sales
  <input type="radio" name="department" value="marketing"> Marketing
  <input type="radio" name="department" value="technical"> Technical
  <br>
  <label for="message">Your message</label>
  <textarea rows="3" name="message" id="message"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>